<header>
    <!-- Cabezal de la pagina -->
    <div class="top-bar">
        <!-- div del logo -->
        <div class="logo">
            <img src="../public/img/logo_2.png" alt="Logo el rey de los pantalones">
        </div>
        <!-- Barra de busqueda -->
        <form class=search-box action="search-box" role="search">
            <span class="search-icon material-symbols-outlined">search</span>
            <input class="search-input" type="text" name="" id="search" placeholder="¿Que estás buscando?" >
        </form>
        <!-- menu de usuario -->
        <nav class="user-menu">
            <ul class="user-menu-list">
                <a href=""><li><i class="ri-user-fill"></i><span>Iniciar Sesion / Resgistrarse</span></li></a>
                <a href=""><li><i class="ri-shopping-bag-fill"></i> <span>Carrito de compras</span></li></a>
            </ul>
        </nav>    
    </div>
    <!-- barra de categorias -->
    <nav class="main-menu">
        <ul class="main-menu-list">
            <a href="#" class="active"><li>Inicio</li></a>
            <a href="#"><li>Trajes</li></a>
            <a href="#"><li>Sacos</li></a>
            <a href="#"><li>Chalecos</li></a>
            <a href="#"><li>Camisas</li></a>
            <a href="#"><li>Pantalones</li></a>
            <a href="#"><li>SALE</li></a>
        </ul>
    </nav>
</header>