    <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/carrito.css" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet" />
    <title>El Rey de los Pantalones - Carrito</title>
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="logo">
                <a href="/"><img src="/img/logo_2.png" alt="Logo el rey de los pantalones" /></a>
            </div>
            <form class="search-box" action="search-box" role="search">
                <span class="search-icon material-symbols-outlined">search</span>
                <input class="search-input" type="text" id="search" placeholder="¿Que estás buscando?" />
            </form>
            <nav class="user-menu">
                <ul class="user-menu-list">
                    <a href="/login"><li><i class="ri-user-fill"></i><span>Iniciar Sesion / Resgistrarse</span></li></a>
                    <a href="/carrito"><li><i class="ri-shopping-bag-fill"></i> <span>Carrito de compras</span></li></a>
                </ul>
            </nav>
        </div>
        <nav class="main-menu">
            <ul class="main-menu-list">
                <a href="#" class="active"><li>Inicio</li></a>
                <a href="#"><li>Trajes</li></a>
                <a href="#"><li>Sacos</li></a>
                <a href="#"><li>Chalecos</li></a>
                <a href="#"><li>Camisas</li></a>
                <a href="#"><li>Pantalones</li></a>
                <a href="#"><li>SALE</li></a>
            </ul>
        </nav>
    </header>

    <main>
        <div class="indice-div">
            <ul class="indice">
                <a href="#"><li>Entrega ></li></a>
                <a href="#"><li>Pago</li></a>
            </ul>
        </div>
        <form method="post" action="/pago">
            <div class="form-col">
                <section class="datos-contacto">
                    <h2>Datos de contacto</h2>
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" placeholder="Ingrese su email" required />
                    <div>
                        <input type="checkbox" id="newsletter" name="newsletter" />
                        <label for="newsletter">Quiero recibir ofertas y novedades por e-mail</label>
                    </div>
                </section>

                <section class="detalle-entrega">
                    <div class="entrega">
                        <h2>Entrega <a href="#" class="cambiar-cp">Cambiar CP 1032</a></h2>

                        <div class="opcion-entrega">
                            <input type="radio" id="envio-domicilio" name="entrega" value="envio-domicilio" />
                            <label for="envio-domicilio">
                                <strong>Envío Nube - Correo Argentino Clásico a domicilio</strong>
                                <p>Llega entre viernes 18/04 y jueves 24/04</p>
                            </label>
                            <span class="precio">$ 5.914,00</span>
                        </div>

                        <h3>Retirar por</h3>
                        <div class="opcion-entrega">
                            <input type="radio" id="punto-retiro" name="entrega" value="punto-retiro" checked />
                            <label for="punto-retiro">
                                <strong>Punto de retiro</strong>
                            </label>
                            <div class="detalle-entrega">
                                <select>
                                    <option>Local 1</option>
                                </select>
                                <p>Retirás entre el viernes 18/04 y el jueves 24/04</p>
                                <ul>
                                    <li>Lunes a viernes, de 11:00 a 18:00</li>
                                </ul>
                            </div>
                            <span class="precio">$ 3.695,00</span>
                        </div>
                    </div>

                    <div class="datos-facturacion">
                        <h2>Datos de facturación</h2>

                        <label for="pais">País</label>
                        <select id="pais" name="pais" required>
                            <option value="argentina" selected>Argentina</option>
                            <option value="brasil">Brasil</option>
                            <option value="chile">Chile</option>
                            <option value="uruguay">Uruguay</option>
                        </select>

                        <label for="dni-cuit">DNI o CUIT</label>
                        <input type="text" id="dni-cuit" name="dni-cuit" placeholder="DNI o CUIT"  required />

                        <h3>Persona que retirará el pedido</h3>
                        <label for="nombre">Nombre y apellido</label>
                        <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido"  required />

                        <label for="apellido">Apellido</label>
                        <input type="text" id="apellido" name="apellido" placeholder="Apellido"  required />

                        <label for="telefono">Teléfono</label>
                        <input type="tel" id="telefono" name="telefono" placeholder="Celular" required />

                        <div class="otra-persona">
                            <input type="checkbox" id="otra-persona" name="otra-persona" />
                            <label for="otra-persona">Otra persona va a retirar el pedido</label>
                        </div>

                        <button type="submit" class="btn-continuar">Continuar para el pago</button>
                    </div>
                </section>
            </div>
        </form>
            <div class="resumen-compra-col">
                <div class="resumen-compra-single-div">
                    <div class="resumen-producto">
                    <img src="/img/default.jpg" alt="Producto" />
                <div class="resumen-producto-info">
                    <p>Nombre del producto (Color, Talle) × Cantidad</p>
                </div>
                <div class="resumen-producto-precio">$ 0,00</div>
                </div>
                <div class="resumen-subtotal">
                    <span>Subtotal</span>
                    <span>$ 0,00</span>
                </div>
                <div class="resumen-envio">
                    <span>Costo de envío</span>
                    <span>$ 0,00</span>
                </div>
                <div class="resumen-total">
                    <span>Total</span>
                    <span>$ 0,00</span>
                </div>
                    <a href="#" class="resumen-cupon">Agregar cupón de descuento</a>
                </div>
            </div>
            
        </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>
