<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Rey de los Pantalones</title>
</head>
<body>
    <header>
        <!-- Imagen - Falta configurar carpeta estatica -->
        <img src="../public/img/logo_2.png" alt="Logo el rey de los pantalones">
        <ul>
            <li><a href="">Iniciar Sesion</a></li>
            <li><a href="">Registrarse</a></li>
        </ul>
    </header>
    <main>
        <section aria-labelledby="destacados">
            <h2 id="destacados">Destacados</h2>
            <div class="carousel">
                <article>
                    <img src="" alt="">
                    <h3></h3>
                </article>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>