<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="general.css">
    <link rel="stylesheet" href="home.css">
    <title>El Rey de los Pantalones</title>
</head>
<body>
    <header>
        <!-- Cabezal de la pagina -->
        <div class="top-bar">
            <div class="logo">
            <img src="../public/img/logo_2.png" alt="Logo el rey de los pantalones">
            </div>
            <!-- Barra de busqueda -->
            <form action="search-box" role="search">
                <label for="search" class="visually-hidden"></label>
                <input class="search-input" type="text" name="" id="search" placeholder="¿Que estás buscando?" >
                <button class="search-button" type="submit">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="10" cy="10" r="7" stroke="black" stroke-width="2"/>
                        <line x1="15" y1="15" x2="20" y2="20" stroke="black" stroke-width="2"/>
                    </svg>
                </button>
            </form>
            <!-- menu de usuario -->
            <nav class="user-menu">
                <ul>
                    <li><a href="">Iniciar Sesion / Resgistrarse</a></li>
                    <li><a href="">Carrito de compras</a></li>
                </ul>
            </nav>
            <!-- barra de categorias -->
            <nav class="main-menu">
                <ul>
                    <li><a href="">Trajes</a></li>
                    <li><a href="">Sacos</a></li>
                    <li><a href="">Chalecos</a></li>
                    <li><a href="">Camisas</a></li>
                    <li><a href="">Pantalones</a></li>
                    <li><a href="">SALE</a></li>
                </ul>
            </nav>
        </div>
    </header>
        <!-- empieza el main de la pagina -->
    <main>
        <section aria-labelledby="destacados">
            <h2 id="destacados">Destacados</h2>
            <div class="carousel">
                <article>
                    <img class="imagen-producto" src="../public/img/imagen default.jpg" alt="imagen del producto">
                    <h3 class="producto-catalogo">Camisa blanca</h3>
                </article>
            </div>
        </section>
    </main>
        <!-- Empieza el footer de la pagina -->
    <footer></footer>
</body>
</html>