<footer>
    <div class="footer-container">
        <div class="info">
            <div class="footer-contactos">
                <span>5422122122122</span>
                <span>+5422122122122</span>
                <span>soporte.reydelpantalon@gmail.com</span>
            </div>
            <div class="footer-categorias">
                <ul class="footer-categorias-list">
                    <a href="#"><li>Trajes</li></a>
                    <a href="#"><li>Sacos</li></a>
                    <a href="#"><li>Chalecos</li></a>
                    <a href="#"><li>Camisas</li></a>
                    <a href="#"><li>Pantalones</li></a>
                    <a href="#"><li>SALE</li></a>
                </ul>
            </div>
            <div class="footer-newsletter">
                <h2>Newsletter</h2>
                <div class="footer-newsletter-box">
                    <input type="text" placeholder="Email">
                    <button>Enviar</button>
                </div>
            </div>
        </div>
        <div class="footer-medios-pago">
            <h2>Medios de pago</h2>
            <div class="footer-medios-pago-list">
                <i class="ri-visa-line"></i>
            </div>
        </div>
    </div>
</footer>
<script src="/js/general.js"></script>
