/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;    
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    list-style: none;
}
header a {
    text-decoration: none;
    color: black;
}

:root {
    --bg-color: #22232;
    --text-color: #fff;
    --main-color: #29fd53;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    background-color: white;

}

.top-bar{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: #f8f8f8;
        border-bottom: 1px solid #ddd;
        gap: 50px;
}

/* Modificar el contenedor del logo */
.logo {
     /* Ancho del div */
    height: auto; /* Altura automática */
    display: flex; /* Alinear elementos dentro */
    padding: 10px; /* Espaciado interno */
}

.logo img {
    width: 200px; 
    height: auto;
    border-radius: 10px;
}

/* Barra de busqueda */
.search-box {
    width: max-content;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 15px;
    background: #f6f6f6;
    width: 600px;
    gap: 10px;
    border: 1px solid #333333;
    padding: 5px;

}

.search-icon {
    width: 20px;
    height: 20px;
    color: #333333;
}

.search-input {
    flex-grow: 1;
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    outline: none;
    border: none;
    background: transparent;
    padding: 10px;
}

.search-input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}


/* menu de usuario */

.user-menu-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

a {
    width: fit-content;
    color: black;
}

li {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 5px;
}

.ri-shopping-bag-fill {
    font-size: 20px;
    color: #333333;
}

.ri-user-fill {
    font-size: 20px;
    color: #333333;
}

/* main menu */

.main-menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-bottom: #ddd 1px solid;

}

/* footer */

footer{
    background-color: #333333;
    color: #f8f8f8;
    padding: 20px 20px;
    display: flex;
}
.info{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}
.footer-contactos{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    color: #f8f8f8
}

.footer-categorias-list{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.footer-categorias-list a{
    color: #f8f8f8;
    text-decoration: none;
}

.footer-newsletter{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}
.footer-newsletter h2{
    font-size: 20px;
}

.footer-newslatter-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}

.footer-medios-pago{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}

.footer-medios-pago-list{
    font-size: 40px;
}